.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 57px;
    width: 70px;
    color: black;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: white;
}

.sidebar div {
    width: 70px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.sidebar div:hover {
    background-color: rgb(223, 221, 221);
}

.sidebar img {
    height: 24px;
    margin-bottom: 5px;
}

